<div class="card">
    <div class="card-body">
        <h5 class="titulo mb-3">{{ "titulo" | uppercase }}
            
        </h5>
        <form >
            <div class="input-group input-group-lg mb-3">
                <span class="input-group-text">
                                      
                </span>
                <input type="text" formControlName="titular" class="form-control" placeholder="Titular">
              </div>
              <div class="input-group input-group-lg mb-3">
                <span class="input-group-text">
                    
                </span>
                <input type="text" formControlName="numeroTarjeta" class="form-control" maxlength="16" placeholder="Numero Tarjeta">
              </div>
              <div class="row">
                  <div class="col-lg-7">
                    <div class="input-group input-group-lg mb-3">
                        <span class="input-group-text">
                            
                        </span>
                        <input type="text" formControlName="fechaExpiracion" class="form-control" maxlength="5" placeholder="MM/YY">
                      </div>
                  </div>
                  <div class="col-lg-5">
                    <div class="input-group input-group-lg mb-3">
                        <span class="input-group-text">
                           
                        </span>
                        <input type="password" formControlName="cvv" class="form-control" maxlength="3" placeholder="CVV">
                      </div>
                  </div>
                  <div class="d-grid gap-2">
                   
                    <button [disabled]="form.invalid" class="btn btn-success btn-lg" type="submit">
                      <i class="fas fa-database"></i>&nbsp;Aceptar</button>             
                  </div>
              </div>
        </form>
    </div>
</div>
